/* =========================================================
   RETOUR EN HAUT
========================================================= */

.back-to-top {
    position: fixed;

    right: clamp(12px, 1.5vw, 28px);
    bottom: clamp(12px, 1.5vw, 28px);

    z-index: 50;

    width: clamp(24px, 2vw, 38px);
    height: clamp(24px, 2vw, 38px);

    display: flex;

    align-items: center;
    justify-content: center;

    border: 1.2px solid var(--color-green);

    border-radius: 50%;

    background: var(--color-background);

    color: var(--color-green);
}

.back-to-top svg {
    display: block;

    width: 65%;
    height: 65%;
}

.back-to-top:hover {
    opacity: 0.6;
}